body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

a:hover{
  text-decoration:none;
  color: #11B859;
}

a:visited
{
  text-decoration:none;
  color: #11B859;
}

p {
  padding: 0 30px;
  font-: 1em;
}

h3 {
  text-align: center
}

.logo {
  font-family: 'Londrina Shadow', cursive;
  font-size: 60px;
  color: #11B859;
  margin-bottom: 20px;
  text-decoration: none !important;
}

.profile {
  padding: 10px 50px;
}

#appcontainer {
  margin: 50px;
}

.has-error {
  border: 1px solid red;
}

.help-block {
  color: red;
}

.photo.profile {
  padding: 50px;
}

.nav-tabs {
  color: #11B859;
}

.btn {
  position: absolute;
}
