body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

a:hover{
  text-decoration:none;
  color: #EB9409;
}

a:visited
{
  text-decoration:none;
  color: #EB9409;
}

h3 {
  text-align: center
}

.logo {
  font-family: 'Londrina Shadow', cursive;
  font-size: 60px;
  color: #EB9409;
  margin-bottom: 20px;
  text-decoration: none !important;
}

.profile {
  padding: 10px 50px;
}

#appcontainer {
  margin: 50px;
}

.has-error {
  border: 1px solid red;
}

.help-block {
  color: red;
}

.photo.profile {
  padding: 50px;
}

.nav-tabs {
  color: #EB9409;
}

.btn {
  position: absolute;
}

.center {
  margin: auto;
  width: 30%;
  padding: 10px 80px;
}

.grid-container {
  margin: 50px;
}

.desc {
  padding: 20px 50px;
  font-size: 1em;
  height: 200px;
  overflow: scroll;
  border: 1px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}