<div id='container' ng-controller="SearchController">
  <!-- Your html here -->
  <div class='navbar navbar-default'>
    <ul class="nav nav-tabs nav-justified">
      <li><a href='#/searchDog'>Adopt a Dog!</a></li>
      <li><a href='#/searchCat'>Adopt a Cat!</a></li>
      <li class="active"><a href='#/search'>Search by Location</a></li>
    </ul>
  </div>
  <!-- <h3>Find a new best friend!</h3> -->
  
  <form name="userForm" ng-submit="getPetByZip(zip)" class='form-inline center' novalidate>
    <div class="form-group">
      <input width="500" class='text form-control' required type='text' ng-model="zip" name='search' ng-class="{'has-error': userForm.search.$invalid && !userForm.search.$pristine}" ng-pattern='/(^\d{5}$)|(^\d{5}-\d{4}$)/' placeholder='Enter ZIP Code'>
    </div>
    <button type='submit' class='btn btn-default' ng-disabled="userForm.$invalid">Submit</button>
    <p ng-show="userForm.search.$invalid && !userForm.search.$pristine" class="help-block">Not a valid ZIP Code</p>
  </form>

<!--   <div class="form-group input-group col-sm-2">
    <span class="input-group-addon" id="basic-addon1">Filter</span>
    <input type="text" class="form-control form-inline" ng-model="query">
  </div> -->

  <div class='grid-container'>
    <div class="row" ng-repeat="chunk in searchResults">
        <div class='col-md-3 photo' ng-repeat="item in chunk">
            <img ng-src="{{item.media.photos.photo[2].$t}}" width='300' height='300'>
            <h3>{{item.name.$t}}</h3>
        </div>
    </div>
  </div>

</div>
